@model DatingApp.Models.User

@{
    ViewBag.Title = "LoggedIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (Session["Id"] != null)
{
    int IdSession = int.Parse(Session["Id"].ToString());

    if (Session["Id"] != null && Model.Id == IdSession)
    {
        <br />
        <h4>Välkommen @Model.Email, du är nu inloggad!</h4>
        <br />

        if (Model.Filename != null)
        {
            <div class="col-md-4">
                <h4 class="breadcrumb">Profilbild <i class="glyphicon glyphicon-user"></i></h4>
                <img height="300" width="300" src="@Url.Action("Image", new { id = Model.Id })" />

                <br />

                <h4>Vill du ladda upp en ny profilbild? </h4>

                <p><a href="~/Users/ChangeProfilePic/@Model.Id" class="btn btn-info"><i class="glyphicon glyphicon-upload"></i></a></p>
            </div>
        }
        else
        {
            <div class="col-md-4">
                <h4 class="breadcrumb">Profilbild <i class="glyphicon glyphicon-user"></i></h4>
                <img height="300" width="300" src="~/Content/avatar.png" />

                <br />

                <h4>Vill du ladda upp en ny profilbild? </h4>

                <p><a href="~/Users/ChangeProfilePic/@Model.Id" class="btn btn-info"><i class="glyphicon glyphicon-upload"></i></a></p>
            </div>
        }


        <div class="col-md-4">
            <h4 class="breadcrumb">Information om användare <i class="glyphicon glyphicon-info-sign"></i></h4>
            <p>Förnamn: @Model.Firstname</p>
            <p>Efternamn: @Model.Lastname </p>
            <p>Ålder: @Model.Age</p>
            <br />
            @if (Model.IsVisible == true)
            {
                <p>Synlighet: Andra användare kan inte söka efter dig med sökfunktionen.</p>
            }
            else
            {
                <p>Synlighet: Andra användare kan söka efter dig med sökfunktionen.</p>
            }

            <h4>Vill du ändra din information?</h4>
            <p><a href="~/Users/Edit/@Model.Id" class="btn btn-info">Klicka här &raquo;</a></p>
            <br />

            <h4 class="breadcrumb">Följer</h4>
            <ul>
                @foreach (var item in Model.Friends)
                    {
                    <li><a href="~/Users/LoggedIn/@item.To.Id">@Html.DisplayFor(modelItem => item.To.Firstname)</a></li>
                }
            </ul>
            <br />

            <h4 class="breadcrumb">Följare</h4>
            <ul>
                @foreach (var item in Model.Friends)
                    {
                    <li>@item.To.Firstname</li>
                    @*<li><a href="~/Users/LoggedIn/@item.From.Id">@Html.DisplayFor(modelItem => item.From.Firstname)</a></li>*@
                }
            </ul>
            <br />
        </div>

        <div class="col-md-4" id="result">
            <h4 class="breadcrumb">Vill du skriva ett nytt inlägg?<i class="glyphicon glyphicon-pencil"></i></h4>

            <form id="postForm">
                @*@using (Html.BeginForm("Create", "MyApi", new { id = Model.Id }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()*@

                <textarea required maxlength="200" draggable="true" name="Message" id="Message" class="form-control" cols="20" rows="2"></textarea>
                <br />
                <input type="submit" value="Skicka &raquo;" class="btn btn-default" id="ApiIdBtn" />
                @*}*@
            </form>
        </div>

        <div class="col-md-4">
            <br />
            <h4 class="breadcrumb">Alla dina inlägg:</h4>

            <table class="table table-striped">
                <tr>
                    <th>Skickat från:</th>
                    <th>Meddelande:</th>
                </tr>
                @foreach (var item in Model.Posts)
                    {
                    <tr>
                        <td>@item.Sender.Firstname</td>
                        <td>@item.Message</td>
                    </tr>
                }
            </table>
        </div>
    }

    if (Session["Id"] != null && Model.Id != IdSession)
    {
        <br />

        using (Html.BeginForm("AddFriend", "Users", new { id = Model.Id }, FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <br />
            <input type="submit" value="FÖLJ @Model.Firstname.ToUpper()" class="btn btn-info" />
        }

        @*bool isFriend = false;
            if (Model.Friends.Count > 0)
            {
                foreach (var item in Model.Friends)
                {
                    if (item.To.Id == int.Parse(Session["Id"].ToString()))
                    {
                        <p>Du följer den här personen.</p>
                                    isFriend = true;
                                    break;
                                }
                                if(item.From.Id == Model.Id)
                                {
                                    <p>Du följer den här personen.</p>
                                }
                            }
                        }
                        if (isFriend == false)
                        {
                       <br />
                       <input type="submit" value="Lägg till vän" class="btn btn-info" />
                    }

                        @*else
                        {
                                <br />
                                <input type="submit" value="Lägg till vän" class="btn btn-info" />
                        }*@

        <br />
        if (Model.Filename != null)
        {
            <div class="col-md-4">
                <h4 class="breadcrumb">Profilbild</h4>
                <img height="300" width="300" src="@Url.Action("Image", new { id = Model.Id })" />
            </div>
        }
        else
        {
            <div class="col-md-4">
                <h4 class="breadcrumb">Profilbild <i class="glyphicon glyphicon-user"></i></h4>
                <img height="300" width="300" src="~/Content/avatar.png" />
            </div>
        }


        <div class="col-md-4">
            <h4 class="breadcrumb">Information om användare</h4>
            <p>Förnamn: @Model.Firstname</p>
            <p>Efternamn: @Model.Lastname </p>
            <p>Ålder: @Model.Age</p>
            <br />

            <h4 class="breadcrumb">Vänner</h4>
            <ul>
                @foreach (var item in Model.Friends)
                    {
                    <li><a href="~/Users/LoggedIn/@item.To.Id">@Html.DisplayFor(modelItem => item.To.Firstname)</a></li>
                }
            </ul>
        </div>


        <div class="col-md-4">
            <h4 class="breadcrumb">Vill du skriva ett nytt inlägg?<i class="glyphicon glyphicon-pencil"></i></h4>

            <form id="postForm">
                @*@using (Html.BeginForm("Create", "Posts", new { id = Model.Id }, FormMethod.Post))
                    {*@
                @Html.AntiForgeryToken()
                <textarea name="Message" id="Message" class="form-control" cols="20" rows="2"></textarea>
                <br />
                <input type="submit" value="Skicka &raquo;" class="btn btn-default" id="ApiIdBtn" />
                @*}*@
            </form>
            <br />

            <h4 class="breadcrumb">@Model.Firstname inlägg:</h4>
            <table class="table table-striped">
                <tr>
                    <th>Skickat från:</th>
                    <th>Meddelande:</th>
                </tr>

                @foreach (var item in Model.Posts)
                    {
                    <tr>
                        <td>@item.Sender.Firstname</td>
                        <td>@item.Message</td>
                    </tr>
                }
            </table>
        </div>
    }
}

else
{
    <br />
    if (Model.Filename != null)
    {
        <div class="col-md-4">
            <h4 class="breadcrumb">Profilbild</h4>
            <img height="300" width="300" src="@Url.Action("Image", new { id = Model.Id })" />
        </div>
        <br />
    }
    else
    {
        <div class="col-md-4">
            <h4 class="breadcrumb">Profilbild <i class="glyphicon glyphicon-user"></i></h4>
            <img height="300" width="300" src="~/Content/avatar.png" />
        </div>
    }

    <div class="col-md-4">
        <h4 class="breadcrumb">Information om användare</h4>
        <p><i class="glyphicon glyphicon-search"></i>Förnamn: @Model.Firstname</p>
        <p>Efternamn: @Model.Lastname </p>
        <p>Ålder: @Model.Age</p>
        <br />
    </div>

    <br />
    <div class="col-md-4">
        <h4 class="breadcrumb">@Model.Firstname inlägg:</h4>

        <table class="table table-striped">
            <tr>
                <th>Skickat från:</th>
                <th>Meddelande:</th>
            </tr>
            @foreach (var item in Model.Posts)
            {
                <tr>
                    <td>@item.Sender.Firstname</td>
                    <td>@item.Message</td>
                </tr>
            }
        </table>
    </div>
}


<div class="clearfix">
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $("#ApiIdBtn").click(function (event) {
                event.preventDefault();
                var form = $("#postForm").serialize();
                $.ajax({
                    type: 'POST',
                    url: '/api/MyApi/Create/@Model.Id',
                    data: form,
                    dataType: 'json',
                    success: function (data) {
                        location.reload();
                    },
                    error: function (data) {
                        alert("Funkar inte");
                    }
                });
            });
        });
    </script>
}




