
@model DatingApp.Models.User

@{
    ViewBag.Title = "LoggedIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Session["Id"] != null)
{
    int IdSession = int.Parse(Session["Id"].ToString());

    @*Om man är inloggad och är på sin egna profilsida.*@
if (Session["Id"] != null && Model.Id == IdSession)
{
    <br />
    <h4>Välkommen @Model.Email, du är nu inloggad!</h4>
    <br />
    if (Model.Filename != null)
    {
        <br />

        using (Html.BeginForm("HidePic", "Users", new { Id = Model.Id }))
        {
            @Html.AntiForgeryToken()

            if (Model.IsPicVisible == false)
            {
                <div class="col-md-4">
                    <h4 class="breadcrumb">Profilbild <i class="glyphicon glyphicon-user"></i></h4>
                    <img height="300" width="300" src="@Url.Action("Image", new { id = Model.Id })" />
                    <h4>Vill du ladda upp en ny profilbild? </h4>
                    <p><a href="~/Users/ChangeProfilePic/@IdSession" class="btn btn-info"><i class="glyphicon glyphicon-upload"></i></a></p>
                    <h4>Vill du dölja din profilbild?</h4>
                    <input type="submit" value="Dölj &raquo;" class="btn btn-info" />
                    <br />

                </div>
            }
            else
            {
                <div class="col-md-4">
                    <p>Du döljer din profilbild.</p>
                    <h4>Vill du visa din profilbild?</h4>
                    <input type="submit" value="Visa &raquo;" class="btn btn-info" />
                    <br />
                </div>
            }
        }
    }

    else
    {
        using (Html.BeginForm("HidePic", "Users", new { Id = Model.Id }))
        {
            @Html.AntiForgeryToken()
            if (Model.IsPicVisible == false)
            {
                <div class="col-md-4">
                    <img height="300" width="300" src="~/Content/avatar.png" />
                    <h4> Vill du dölja din profilbild?</h4>
                    <input type="submit" value="Dölj &raquo;" class="btn btn-info" />
                    <h4>Vill du ladda upp en ny profilbild? </h4>
                    <p><a href="~/Users/ChangeProfilePic/@IdSession" class="btn btn-info"><i class="glyphicon glyphicon-upload"></i></a></p>
                    <br />
                </div>
            }
            else
            {
                <div class="col-md-4">
                    <p>Du döljer din profilbild.</p>
                    <h4>Vill du visa din profilbild?</h4>
                    <input type="submit" value="Visa &raquo;" class="btn btn-info" />
                </div>
            }
        }
    }

    <br />



    <div class="col-md-4">
        <h4 class="breadcrumb">Information om användare <i class="glyphicon glyphicon-info-sign"></i></h4>
        <p>Förnamn: @Model.Firstname</p>
        <p>Efternamn: @Model.Lastname </p>
        <p>Ålder: @Model.Age</p>
        <br />
        @if (Model.IsVisible == true)
        {
            <p>Synlighet: Osynlig.</p>
        }
        else
        {
            <p>Synlighet: Synlig.</p>
        }

        <h4>Vill du ändra din information?</h4>
        <p><a href="~/Users/Edit/@Model.Id" class="btn btn-info">Klicka här &raquo;</a></p>
        <br />

        <h4 class="breadcrumb">Följer</h4>
        <ul>
            @foreach (var item in Model.Friends)
            {
                <li><a href="~/Users/LoggedIn/@item.To.Id">@Html.DisplayFor(modelItem => item.To.Firstname)</a></li>
            }
        </ul>
        <br />
        <h4 class="breadcrumb">Följare</h4>
        <ul>
            @using (DatingApp.Models.MyDataContext db = new DatingApp.Models.MyDataContext())
            {
                var friendList = db.Friends.ToList();
                foreach (var item in friendList)
                {
                    if (item.To.Id == IdSession)
                    {
                        <li><a href="~/Users/LoggedIn/@item.From.Id">@Html.DisplayFor(modelItem => item.From.Firstname)</a></li>
                    }
                }
            }
        </ul>
        <br />
    </div>

    @*Här skriver man en ny post, denna action anropas med jQuery och AJAX i Script-taggen nedan.*@
    <div class="col-md-4" id="result">
        <h4 class="breadcrumb">Vill du skriva ett nytt inlägg?<i class="glyphicon glyphicon-pencil"></i></h4>
        <form id="postForm">
            <textarea maxlength="200" draggable="true" name="Message" id="Message" class="form-control" cols="20" rows="2" required></textarea>
            <br />
            <input type="submit" value="Skicka &raquo;" class="btn btn-info" id="ApiIdBtn" />
        </form>
    </div>

    <div class="col-md-4">
        <br />
        <h4 class="breadcrumb">Alla dina inlägg:</h4>
        <table class="table table-striped">
            <tr>
                <th>Skickat från:</th>
                <th>Meddelande:</th>
            </tr>
            @foreach (var item in Model.Posts)
            {
                <tr>
                    <td>@item.Sender.Firstname</td>
                    <td>@item.Message</td>
                </tr>
            }
        </table>
    </div>
}

    @*Om man är inloggad och går in på en annan användareas profil*@
if (Session["Id"] != null && Model.Id != IdSession)
{
    <br />
    @*Här görs en koll om användaren som är inloggad följer personen eller inte.*@
bool isFriend = false;
using (DatingApp.Models.MyDataContext db = new DatingApp.Models.MyDataContext())
{
    var friendList = db.Friends.ToList();
    foreach (var item in friendList)
    {
        if (item.To.Id == Model.Id && item.From.Id == IdSession)
        {
            isFriend = true;
            <br />
            <b class="breadcrumb">Du följer den här personen.</b>
            <br />
                break;
            }
            else
            {
                isFriend = false;
            }
        }
    }
    if (isFriend == false)
    {
        using (Html.BeginForm("AddFriend", "Users", new { id = Model.Id }, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <br />
            <input type="submit" value="FÖLJ @Model.Firstname.ToUpper()" class="btn btn-info" />
        }
    }

    <br />
    <div class="col-md-4">
        <h4 class="breadcrumb">Profilbild</h4>
        @if (Model.Filename != null)
        {
            @Html.AntiForgeryToken()
            if (Model.IsPicVisible == false)
            {
                <img height="300" width="300" src="@Url.Action("Image", new { id = Model.Id })" />
            }
            else
            {
                <p>Användaren döljer sin profilbild.</p>
            }
        }
        else
        {
            if (Model.IsPicVisible == false)
            {
                <img height="300" width="300" src="~/Content/avatar.png" />
            }
            else
            {
                <p>Användaren döljer sin profilbild.</p>
            }
        }
    </div>
    <div class="col-md-4">
        <h4 class="breadcrumb">Information om användare</h4>
        <p>Förnamn: @Model.Firstname</p>
        <p>Efternamn: @Model.Lastname </p>
        <p>Ålder: @Model.Age</p>
        <br />

        <h4 class="breadcrumb">Följer</h4>
        <ul>
            @foreach (var item in Model.Friends)
            {
                <li><a href="~/Users/LoggedIn/@item.To.Id">@Html.DisplayFor(modelItem => item.To.Firstname)</a></li>
            }
        </ul>
        <br />
        <h4 class="breadcrumb">Följare</h4>
        <ul>
            @using (DatingApp.Models.MyDataContext db = new DatingApp.Models.MyDataContext())
            {
                var friendList = db.Friends.ToList();
                foreach (var item in friendList)
                {
                    if (item.To.Id == Model.Id)
                    {
                        <li><a href="~/Users/LoggedIn/@item.From.Id">@Html.DisplayFor(modelItem => item.From.Firstname)</a></li>
                    }
                }
            }
        </ul>
    </div>
        @*Här skriver man en ny post, denna action anropas med jQuery och AJAX i Script-taggen nedan.*@
        <div class="col-md-4">
            <h4 class="breadcrumb">Vill du skriva ett nytt inlägg?<i class="glyphicon glyphicon-pencil"></i></h4>
            <form id="postForm">
                @Html.AntiForgeryToken()
                <textarea name="Message" id="Message" class="form-control" cols="20" rows="2"></textarea>
                <br />
                <input type="submit" value="Skicka &raquo;" class="btn btn-info" id="ApiIdBtn" />
            </form>
            <br />
            <h4 class="breadcrumb">@Model.Firstname inlägg:</h4>
            <table class="table table-striped">
                <tr>
                    <th>Skickat från:</th>
                    <th>Meddelande:</th>
                </tr>
                @foreach (var item in Model.Posts)
                {
                    <tr>
                        <td>@item.Sender.Firstname</td>
                        <td>@item.Message</td>
                    </tr>
                }
            </table>
        </div>
    }
}

else
{
    <br />
    if (Model.Filename != null)
    {
        <div class="col-md-4">
            <h4 class="breadcrumb">Profilbild</h4>
            <img height="300" width="300" src="@Url.Action("Image", new { id = Model.Id })" />
        </div>
        <br />
    }
    else
    {
        <div class="col-md-4">
            <h4 class="breadcrumb">Profilbild <i class="glyphicon glyphicon-user"></i></h4>
            <img height="300" width="300" src="~/Content/avatar.png" />
        </div>
    }

    <div class="col-md-4">
        <h4 class="breadcrumb">Information om användare</h4>
        <p><i class="glyphicon glyphicon-search"></i>Förnamn: @Model.Firstname</p>
        <p>Efternamn: @Model.Lastname </p>
        <p>Ålder: @Model.Age</p>
        <br />
    </div>

    <br />
    <div class="col-md-4">
        <h4 class="breadcrumb">@Model.Firstname inlägg:</h4>

        <table class="table table-striped">
            <tr>
                <th>Skickat från:</th>
                <th>Meddelande:</th>
            </tr>
            @foreach (var item in Model.Posts)
            {
                <tr>
                    <td>@item.Sender.Firstname</td>
                    <td>@item.Message</td>
                </tr>
            }
        </table>
    </div>
}

<div class="clearfix">
</div>

@*jQuery och AJAX möjliggör att vi kan posta ett meddelande till Api-Controllern.*@
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $("#ApiIdBtn").click(function (event) {
                event.preventDefault();
                var form = $("#postForm").serialize();
                $.ajax({
                    type: 'POST',
                    url: '/api/MyApi/Create/@Model.Id',
                    data: form,
                    dataType: 'json',
                    success: function (data) {
                        location.reload();
                    },
                    error: function (data) {
                        alert("Funkar inte");
                    }
                });
            });
        });

        $(document).ready(function () {
            $('#Message').prop('required', true);
        });
    </script>
}




