@model IEnumerable<DatingApp.Models.User>

@{
    ViewBag.Title = "Home Page";
}

<br />
<div class="jumbotron">
    <h1>@DatingApp.Resources.HomeText.Login</h1>
    <br />

    @*Måste översätta denna:*@
    @Html.ActionLink(DatingApp.Resources.HomeText.Login,"Login", "Users", null, new { @class = "btn btn-primary btn-large" })
</div>

<div class="jumbotron">



    <h2>@DatingApp.Resources.HomeText.Register</h2>
    @*Måste översätta detta:*@
    @Html.ActionLink(DatingApp.Resources.HomeText.Register, "Create", "Users", null, new { @class = "btn btn-primary btn-large" })
</div>

@* Loopar ut exempelanvändare och dens bild som länk på startsidan *@
<div class="row">
    @{ int i = 0;
        foreach (var item in Model)
        {
            if (item.Filename != null)
            {
                <div class="col-md-4">
                    <a href="~/Users/LoggedIn/@item.Id"><img height="200" width="200" src="@Url.Action("Image", "Users", new { id = item.Id })" /></a>
                    <a href="~/Users/LoggedIn/@item.Id"><h2>@Html.DisplayFor(modelItem => item.Firstname)</h2></a>
                </div>
                i++;
            }

            else
            {
                <div class="col-md-4">
                    <img height="200" width="200" src="~/Content/avatar.png" />
                    <a href="~/Users/LoggedIn/@item.Id"><h2>@Html.DisplayFor(modelItem => item.Firstname)</h2></a>
                </div>
                i++;
            }

            if (i == 3)
            {
                break;
            }
        }
    }
</div>


<div class="clearfix"></div>

