@model IEnumerable<DatingApp.Models.User>

@{
    ViewBag.Title = "Home Page";
}

<br />

<div class="jumbotron">
    <h1>@DatingApp.Resources.HomeText.Login</h1>
    <br />

    <p><a href="~/Users/Login" class="btn btn-primary btn-lg">@DatingApp.Resources.HomeText.Login &raquo;</a></p>
</div>

<div class="jumbotron">
    <h2>@DatingApp.Resources.HomeText.Register</h2>
    <p class="lead"></p>
    <p><a href="~/Users/Create" class="btn btn-primary btn-lg">@DatingApp.Resources.HomeText.Click &raquo;</a></p>
</div>


<div class="row">
    @{ int i = 0;
            foreach (var item in Model)
            {
            <div class="col-md-4">
                <a href="~/Users/LoggedIn/@item.Id"><h2>@Html.DisplayFor(modelItem => item.Firstname)</h2></a>
                <p>Här ska vi lägga bild sen när vi vet hur man lagrar det.</p>
            </div>
            i++;

            if (i == 3)
            {
                break;
            }
        }

    }
</div>




<div class="clearfix"></div>

