
@{
    ViewBag.Title = "_LoginPartial";
}

@if (Session["Id"] == null)
{
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Log in", "Login", "Users")</li>
        </ul>
    </div>
}

else
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink(DatingApp.Resources.HomeText.Profile, "Loggedin", "Users")</li>
                <li>@Html.ActionLink(DatingApp.Resources.HomeText.Logout, "LogOut", "Users")</li>
                @Html.Partial("_CountFriendsPartial")
            </ul>
        </div>
    }
}
