@*Här görs en if som kollar om en användare är inloggad, och visar då andra saker i headern.
    Anropas i _Layout.*@

@{
    ViewBag.Title = "_LoginPartial";
}

@if (Session["Id"] == null)
{
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Log in", "Login", "Users")</li>
        </ul>
    </div>
}

@if (Session["id"] != Session["ModelId"])
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink(DatingApp.Resources.HomeText.Profile, "Loggedin", "Users", new { Id = int.Parse(Session["Id"].ToString()) }, null)</li>
                <li>@Html.ActionLink(DatingApp.Resources.HomeText.Logout, "LogOut", "Users")</li>
                @Html.Partial("_CountFriendsPartial")
            </ul>
        </div>
    }
}
